body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

.content {
    padding: 20px;
}

.group {
    margin-bottom: 40px;
}

.group.collapsed .router-container {
    display: none;
}

.router-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.router {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    box-sizing: border-box;
}
/* Custom scrollbar for webkit browsers */
body::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    overflow: visible;
    display: none;
}
